
  @import url("https://use.typekit.net/vmw5lyb.css");

body{
    background-color: #DCBEB6;
    max-width: 1200px;
    margin: auto;
    font-family: "futura-pt-condensed", sans-serif;
font-weight: 500;
font-style: normal;
}

    header{
        color:red;
        width: 300px;
        position: fixed;
        top: 50px;
        left: 25px;
}

nav{
    background-color: blueviolet;
    width: 300px; 
    position: fixed;
    top: 300px;
    left: 25px;
}

main {
    width: 650px;
   margin-left: 500px;
}

section {
    border: 1px blue solid;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
}

section img {
    border: 1px blue solid;
    padding: 25px;
}


footer{
        background-color: fuchsia;
        width: 300px;
        position: fixed;
        bottom: 50px;
        left: 25px;

    } 
        
#splashgif {
margin:auto;
text-align:center;
margin-top: 13%;
width: 500px;
}

#welcome{
    text-decoration: none;
    font-family: "futura-pt-condensed", sans-serif;
font-weight: 800;
font-style: normal;
background-color: #FFFC19;
}

nav h5:hover{
background-color: yellow;
text-decoration: none;
}

#splash{
    background-color: #FFFC19;
}
